<footer>
  <div class="container">
    <a href="https://rs.school/js/" target="_blank">
      <img class="logo" src="/assets/images/rs_school.svg" alt="RS-School logo">
    </a>
    <p class="copyright">
      © 2022 Copyright - All Rights Reserved
    </p>
    <div class="devs">
      <a href="https://github.com/mbulldozer" target="_blank">mbulldozer</a>
      <a href="https://github.com/RomaaaK" target="_blank">RomaaaK</a>
      <a href="https://github.com/Axialis" target="_blank">Axialis</a>
    </div>
  </div>
</footer>
