<mat-card>
  <mat-card-title>{{gameTitle}}</mat-card-title>
  <mat-card-subtitle>{{gameDesc}}</mat-card-subtitle>
  <mat-card-actions>
    <mat-form-field appearance="fill">
      <mat-label>Choose difficulty</mat-label>
      <mat-select [(value)]="selectedDifficulty">
        <mat-option value="{{difficulty}}" *ngFor="let difficulty of difficulties">Difficulty {{difficulty}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="selectDifficulty()">Start</button>
  </mat-card-actions>
</mat-card>
