<section class="features">
  <h3>Features</h3>
  <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
    <mat-tab label="Textbook" class="feature-tab">
      <div class="content-wrapper">
        <div class="content">
          <img src="assets/images/textbook.webp" alt="img">
          <div class="description">
            <h4>Textbook</h4>
            <p>The electronic textbook is set on the basis of a collection of initial data and consists of six sections, each section has 30 pages, each page has 20 words for study...</p>
            <a routerLink="/textbook">Try it →</a>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Games" class="feature-tab">
      <div class="content-wrapper">
        <div class="content">
          <img src="assets/images/games.webp" alt="img">
          <div class="description">
            <h4>Games</h4>
            <p>The functionality of mini-games "Audio challenge" and "Sprint" completely repeats the functionality of mini-games of the same name of the Lingualeo application...</p>
            <a routerLink="/games">Try it →</a>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Statistics" class="feature-tab">
      <div class="content-wrapper">
        <div class="content">
          <img src="assets/images/cartoon-colorful-galaxy.webp" alt="img">
          <div class="description">
            <h4>Statistics</h4>
            <p>The statistics page displays short-term statistics for mini-games and words for each day of study...</p>
            <a routerLink="/statistics">Try it →</a>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
