<mat-sidenav-container class="container">
  <mat-sidenav #sidenav role="navigation" position="end" mode="side">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main [ngClass]="{'game' : hasRoute(['audio-challenge', 'sprint'])}">
      <router-outlet></router-outlet>
    </main>
    <app-footer *ngIf="!hasRoute(['audio-challenge', 'sprint'])"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-auth></app-auth>
