<section class="about">
  <div class="info">
    <h2>Learn to speak like the locals</h2>
    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced</p>
    <button>let's start</button>
  </div>
  <div class="wheel">
    <div class="item">
      <a routerLink="/textbook" class="item-link">
        <div class="item-text">
          <span>Textbook</span>
        </div>
        <div class="square"></div>
      </a>
    </div>
    <div class="item">
      <a routerLink="/home" class="item-link">
        <div class="item-text">
          <span>Sprint</span>
        </div>
        <div class="square"></div>
      </a>
    </div>
    <div class="item">
      <a routerLink="/home" class="item-link">
        <div class="item-text">
          <span>Audio CHLG</span>
        </div>
        <div class="square"></div>
      </a>
    </div>
    <div class="item">
      <a routerLink="/home" class="item-link">
        <div class="item-text">
          <span>Statistics</span>
        </div>
        <div class="square"></div>
      </a>
    </div>
  </div>
</section>
<app-features></app-features>
