<div class="card" *ngFor="let item of card">
    <img src="http://localhost:27017/{{item.image}}" alt="image" class="card__image">
    <!-- <img src="https://rs-lang-server.herokuapp.com/{{item.image}}" alt="image" class="card__image-photo"> -->
    <div class="card__description">
        <div class="card__word">
            <h1 class="card__description__word" [innerHtml]="item.word"></h1>
            <h1 class="card__description__word" *ngIf="translate" [innerHtml]="item.wordTranslate"></h1>
        </div>
        <div class="card__description__transcription">
            {{item.transcription}}
            <img src="../../../assets/images/audio.svg" alt="audio" title="play" class="card__audio" (click)="playAudio(item.audio)">
        </div>
        <p class="card__description__meaning" [innerHtml]="item.textMeaning"></p>
        <p class="card__description__example" [innerHtml]="item.textExample"></p>

        <p class="card__description__meaning" *ngIf="translate" [innerHtml]="item.textMeaningTranslate"></p>
        <p  class="card__description__example" *ngIf="translate" [innerHtml]="item.textExampleTranslate"></p>

        <div class="card__buttons" *ngIf="isLogin">
            <button class="card__button-difficult">Добавить в сложные</button>
            <button class="card__button-studied">Изучено</button>
        </div>
    </div>
</div>