<div class="card" *ngFor="let item of card">
    <div class="card__image-wrapper">       
        <img src="{{server}}/{{item.image}}" alt="image" class="card__image-photo">
    </div>
    <div class="card__description">
        <div class="card__word">
            <h1 class="card__description__word" [innerHtml]="item.word"></h1>
            <h1 class="card__description__word" *ngIf="translate" [innerHtml]="item.wordTranslate"></h1>
            <img src="../../../assets/images/difficult.png" alt="Difficult" class="card__image-difficult" *ngIf="!difficult" [ngStyle]="{visibility: item.difficult}" >
        </div>
        <div class="card__description__transcription">
            {{item.transcription}}
            <img src="../../../assets/images/audio.svg" alt="audio" title="play" class="card__audio" (click)="playAudio(item.audio)">
        </div>
        <p class="card__description__meaning" [innerHtml]="item.textMeaning"></p>
        <p class="card__description__example" [innerHtml]="item.textExample"></p>

        <p class="card__description__meaning" *ngIf="translate" [innerHtml]="item.textMeaningTranslate"></p>
        <p  class="card__description__example" *ngIf="translate" [innerHtml]="item.textExampleTranslate"></p>

        <div class="card__buttons" *ngIf="isLogin">
            <button class="card__button-difficult" (click)="addToDifficult(item.id)" *ngIf="!difficult" [disabled]="item.difficult ? 'disabled': null">Добавить в сложные</button>
            <button class="card__button-difficult" (click)="deleteFromDifficult(item._id)" *ngIf="difficult" >Удалить из сложных</button>
            <button class="card__button-studied" *ngIf="!difficult">Изучено</button>
        </div>
    </div>
</div>