@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 500);
$my-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);


@font-face {
  font-family: "Nico Moji";
  src: local("Nico Moji"), url(./assets/fonts/NicoMoji-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Next Art";
  src: local("Next Art"), url(./assets/fonts/NextArt-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Arodora Pro";
  src: local("Arodora Pro"), url(./assets/fonts/ArodoraPro-Light.otf) format("truetype");
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(101.56deg, #3B6686 1.56%, #1C1C1C 95.55%);
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}
